<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en-UK" lang="en-UK" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="JobID" content="{{ tjid }}" />
    <meta name="languageSource" content="{{ source_language }}" />
    <meta name="languageTarget" content="{{ target_language  }}" />

    <title>Job ID {{ tjid }}</title>
  </head>
  <body>
    {% for item_key, item in items %}
      <div class="asset" id="{{ item_key }}">
        {% for field_key, field in item %}
          <div class="atom" id="{{ field_key }}">{{ field['#text'] }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </body>
</html>
